include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/dquality *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/dquality/migration *.ini *.py *.mako
