{% extends "my_page.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _("Data Quality") }}{% endblock %}

{% block styles %}
{{ super() }}
{% asset "opendquality/opendquality-css" %}
{% endblock %}

{% block breadcrumb_content %}
<li class="active">{{ _('Data Quality') }}</li>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block secondary_content %}
{% include "ckanext/opendquality/left_side.html" %}
{% endblock %}

{% block primary_content_inner %}

{% set pending = request.args.get('pending') %}

{% if pending %}
<script>
    window.onload = function () {
        alert("ระบบกำลังเตรียมเริ่มงาน กรุณารอสักครู่…");
        // reload หน้าเว็บ 1 ครั้ง หลังจากกดตกลง
        window.location.href = window.location.pathname;
    };
</script>
{% endif %}

<h1>{{ title }}</h1>
<div>
  <div class="row" style="z-index: 2;">
    <form id="frm-orgs-cal" method="POST" action="{{ h.url_for('opendquality.index') }}" class="form-inline">
      {{ h.csrf_input() }}
      {% if calc_orgs is not none %}
        {%- set options=[] -%}
        {#%- do options.append({'value': 'all', 'text': _('เลือกทุกหน่วยงาน')}) -%#}
        {%- for o in calc_orgs -%}
        {%- do options.append({'value': o.org_name|string, 'text': o.org_title}) -%}
        {%- endfor -%}
        {{ form.select(
          'orgs_calc',
          label=_('เลือกหน่วยงานที่ต้องการตรวจคุณภาพชุดข้อมูล'),
          options=options,
          classes=["col-3"],
          id='orgs_calc',
          attrs={'data-module': 'autocomplete', 'style': 'z-index:2;'},
          error={}
          )
        }}
      {% endif %}
      <button type="submit" name="btn-qa-cal" class="btn btn-primary">{{ _('เริ่มตรวจคุณภาพ') }}</button>
    </form>
  </div>
  <hr>
  <div class="row" style="z-index: 2;">
    <div id="orgs-cal-result"><h2>ผลการตรวจสอบคุณภาพชุดข้อมูล</h2></div>
    <div class="row table-responsive" style="position: relative; z-index: 2;">
      <table id="tb-qa-cal-result" class="table table-bordered table-striped" data-module="qa-datatables">
        <thead>
          <tr>
            <th>ลำดับ</th>
            <th>หน่วยงาน</th>
            <th>วันที่รันตรวจสอบ</th>
            <th>วันที่รันตรวจสอบสำเร็จ</th>
            <th>สถานะ</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for job in qa_jobs %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ job.org_title }}</td>
            <td>{{ job.requested_timestamp.strftime('%d/%m/%Y') }}</td>
            <td>
              {% if job.finish_timestamp is not none %}
                {{ job.finish_timestamp.strftime('%d/%m/%Y %H:%M:%S') }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>{{ _(job.status) }}</td>
            <td>
              {% if job.status == 'running' %}
                <button class="btn btn-sm btn-warning" data-module="opendquality-cancel" 
                data-module-job-id="{{ job.job_id }}" 
                data-module-url="{{ h.url_for('opendquality.cancel_job')}}"><i class="fa fa-times"></i>ยกเลิก</button>
              {% else %}
                <button class="btn btn-sm btn-danger" data-module="opendquality-deleted" 
                data-module-job-id="{{ job.job_id }}" 
                data-module-url="{{ h.url_for('opendquality.delete_job')}}"><i class="fa fa-trash"></i>ลบ</button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% asset "opendquality/datatables-js" %}
{% endblock %}